# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# design files
*.psd
*.ai
*.sketch

# temporary/copy files
* - Copia.*
* - Copy.*
* copy.*
*_copy.*
*_backup.*

# old unused images (to be removed)
public/image/BCP157*.png
public/image/BPC157*.jfif
